<% include partials/head %>

    <body>
        <% include partials/header %>
            <div>
                <div class="banner">
                        <div class="container">
                            <a href="/home" class="float-left banner-link">
                                <img src="../../svg/back.svg"> BACK TO CAUSES</a>
                            <a href="/causes/edit/<%=causes[0].ID%>" class="float-right banner-link">EDIT CAUSE</a>
                            <div class="py-5 text-center">
                                <h2 class="lead"><%=causes[0].Title%></h2>
                            </div>
                        </div>
                    </div>
                    <div class="container full-page">
                    <% var selectedCauseId= causes[0].ID; %>
                    <% include partials/sidemenu %>

                        <div class="col-md-8 order-md-2">
                            <div class="row align-items-center mb-3">
                                <div class="col-md-12">
                                    <h4 class="mb-0 txt-red">Add Local Media</h4>
                                </div>
                            </div>

                            <form id="add-media-form" onsubmit="return validateLocalMediaForm()" class="needs-validation" method="post" action="/create/localmedia/<%=causes[0].ID%>"
                                enctype="multipart/form-data" novalidate="">
                                <% if (message.length > 0) { %>
                                    <div class="alert alert-success col-sm-12">
                                        <%= message %>
                                    </div>
                                    <% } %>

                                        <div class="form-group">
                                            <label for="title" class="col-md-3 control-label">Select country</label>
                                            <div class="col-md-9">
                                                <select id="country-select" class="form-control" name="countryId" id="drpdwn">
                                                    <option value="">Select country</option>
                                                    <%for(var i=0;i< data.length;i++){ %>
                                                        <option value='<%= data[i].id %>'>
                                                            <%=data[i].name%>
                                                        </option>
                                                        <% }%>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="title" class="col-md-3 control-label">Select state</label>
                                            <div class="col-md-9">
                                                <select id="state-select" class="form-control" name="stateId" id="drpdwn">

                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="title" class="col-md-3 control-label">Select city</label>
                                            <div class="col-md-9">
                                                <select id="city-select" class="form-control" name="cityId" id="drpdwn">

                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="first_name" class="col-md-3 control-label">Media channel name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="name" placeholder="Media channel name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="last_name" class="col-md-3 control-label">Contact</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" name="contact" placeholder="Contact">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="mob_no" class="col-md-3 control-label">Logo image</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="file" name="uploaded_image" accept="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <!-- Button -->
                                            <div class="col-md-offset-3 col-md-9">
                                                <button id="btn-signup" type="submit" class="btn btn-primary">
                                                    <i class="icon-hand-right"></i> &nbsp Submit</button>
                                            </div>
                                        </div>

                            </form>




                        </div>

                </div>
            </div>
            <% include partials/footer %>

    </body>