<% include partials/head %>
<body>
    <% include partials/header %>
    
    <div class="container full-page">
        <div class="py-5 text-center">
            <h2 class="lead mt-5">Welcome to Burma cause management</h2>
        </div>

        <% include partials/sidemenu %>

        
        <div class="col-md-8 order-md-2">
          <h4 class="mb-3">Edit Cause</h4>

          <form id="add-cause-form" class="needs-validation" method="post" action="/causes/edit/<%=data[0].ID%>" onsubmit="return validateCauseForm('edit')" enctype="multipart/form-data" novalidate="">
              <% if (message.length > 0) { %>
                  <div class="alert alert-success col-sm-12"><%= message %></div>
              <% } %>

              <div class="form-group">
                      <label for="first_name" class="col-md-3 control-label">Title</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control" name="title" maxlength="99" placeholder="Title" value="<%=data[0].Title%>">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="last_name" class="col-md-3 control-label">Description</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control" name="description" maxlength="1999" placeholder="Description" value="<%=data[0].Description%>">
                      </div>
                  </div>                  
                  <div class="form-group">
                      <label for="mob_no" class="col-md-3 control-label">Image</label>
                      <div class="col-sm-9">
                          <input class="form-control" type="file" name="uploaded_image" accept=""/>
                      </div>
                  </div>    
                  <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/images/upload_images/<%=data[0].Image%>" class="img-thumbnail my-2"> </div>                            
                  <div class="form-group">
                      <!-- Button -->                                       
                      <div class="col-md-offset-3 col-md-9">
                          <button id="btn-signup" type="submit" class="btn btn-primary"><i class="icon-hand-right"></i> &nbsp Submit</button>
                      </div>
                  </div>  

          </form>

      
              
              
      </div>

  </div>
      
        <% include partials/footer %>

</body>

<!-- <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="padding-top:30px">
      <% if (message.length > 0) { %>
        <div class="alert alert-danger col-sm-12" ><%= message %></div>
      <% } else {%>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><%=data[0].Title%></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/images/upload_images/<%=data[0].Image%>" class="img-thumbnail my-2"> </div>
              <div class=" col-md-9 col-lg-9 "> 
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>Description:</td>
                      <td><%=data[0].Description%></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <% } %>
      </div>
    </div> -->

