<% include partials/head %>

    <body>
        <% include partials/header %>
            <div>
                <div class="banner">
                        <div class="container">
                            <a href="/home" class="float-left banner-link">
                                <img src="../../svg/back.svg"> BACK TO CAUSES</a>
                            <a href="/causeedit" class="float-right banner-link">EDIT CAUSE</a>
                            <div class="py-5 text-center">
                                <h2 class="lead"><%=causes[0].Title%></h2>
                            </div>
                        </div>
                    </div>
                    <div class="container full-page">
                    <% var selectedCauseId= causes[0].ID; %>

                    <% include partials/sidemenu %>

                        <div class="col-md-8 order-md-2">
                            <div class="row align-items-center mb-3">
                                <div class="col-md-8">
                                    <h4 class="mb-0 txt-red">Donation URLs</h4>
                                </div>
                                <div class="col-md-4">
                                    <a href="/create/donationurls/<%=causes[0].ID%>" class="btn btn-primary mb-2m float-right">Create New</a>
                                </div>
                            </div>
                            <div id="event-list-group" class="list-group">
                                <% for(var i=0; i<data.length; i++) { %>
                                    <div class="list-group-item">
                                        <h4 class="list-group-item-heading">
                                            <a href="<%=data[i].Url%>" target="_blank">
                                                <%=data[i].Url%>
                                            </a>
                                        </h4>
                                        <span>Cause: </span>
                                        <span>
                                            <%=data[i].CauseTitle%>
                                        </span>
                                    </div>
                                    <% } %>
                            </div>
                        </div>

                </div>
            </div>
            <% include partials/footer %>

    </body>